.navbar-toggler {
    border-color: transparent !important;
}

.carousel-item img {
    object-fit: cover;
}

.carousel-img {
    max-width: 100%;
    height: auto;
}

.grid-img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 576px) {
    .carousel-img {
        max-width: 100%;
        height: auto;
    }

    .grid-img {
        max-width: 100%;
        height: auto;
    }

    .col-lg-4 .row:last-child .col-md-12 img {
        height: 100px;
        object-fit: contain;
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .carousel-img {
        max-width: 100%;
        height: auto;
    }

    .grid-img {
        max-width: 100%;
        height: auto;
    }
}

.product-img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .product-img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .product-img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .product-img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .product-img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .product-img {
        max-width: 100%;
        height: auto;
    }
}